{% extends "uoftsocial/base.html" %}
{% block content %}

    <div class="container">
        <nav class="bottom-nav">
            <a href="account.html" class="nav-item">
                <span class="icon">Profile Icon</span>
                <span class="label">Profile</span>
            </a>
            <a href="#" class="nav-item">
                <span class="icon">Courses Icon</span>
                <span class="label">Courses</span>
            </a>
            <a href="#" class="nav-item">
                <span class="icon">Campus Icon</span>
                <span class="label">Campus</span>
            </a>
            <a href="#" class="nav-item">
                <span class="icon">Tags Icon</span>
                <span class="label">Tags</span>

{% endblock content %}
