<form method="get" class="mb-4" {% if hide_params %} action="{% url 'common:home' %}" {% else %} action="{% url 'common:search' %}" {% endif %}>

  {# only include these when we’re on the search page #}
  {% if not hide_params %}
    <input type="hidden" name="query"    value="{{ query|default:'' }}">
    <input type="hidden" name="order_by" value="{{ order_by|default:'' }}">
  {% endif %}
  
    <ul class="nav nav-pills">
      <li class="nav-item mr-2">
        <button
          type="submit"
          name="filter_by"
          value="all"
          class="btn nav-link{% if filter_by == 'all' %} active{% endif %}"
        >All</button>
      </li>
      <li class="nav-item mr-2">
        <button
          type="submit"
          name="filter_by"
          value="posts"
          class="btn nav-link{% if filter_by == 'posts' %} active{% endif %}"
        >Posts</button>
      </li>
      <li class="nav-item mr-2">
        <button
          type="submit"
          name="filter_by"
          value="users"
          class="btn nav-link{% if filter_by == 'users' %} active{% endif %}"
        >People</button>
      </li>
      <li class="nav-item mr-2">
        <button
          type="submit"
          name="filter_by"
          value="clubs"
          class="btn nav-link{% if filter_by == 'clubs' %} active{% endif %}"
        >Clubs</button>
      </li>
      <li class="nav-item">
        <button
          type="submit"
          name="filter_by"
          value="events"
          class="btn nav-link{% if filter_by == 'events' %} active{% endif %}"
        >Events</button>
      </li>
    </ul>
  </form>