{% extends "digital_campus/base.html" %}
{% load static %}
{% block content %}

  <!-- {% include "digital_campus/search/_filter_pills.html" %} -->

  {% include "digital_campus/search/_filter_pills.html" %}
  <div id="post-container">
    {# initial page’s worth of posts #}
    {% include 'digital_campus/home_list.html' %}
  </div>

  <div id="loading" class="text-center my-4" style="display:none;">
    Loading…
  </div>

  <script src="{% static 'digital_campus/js/home.js' %}"></script>
{% endblock %}

