/* channels/static/channels/css/chat.css */

body {
    margin: 0;
    padding: 0;
    background-color: #2C2F33; /* Discord-like dark gray */
    font-family: 'Helvetica Neue', sans-serif;
    color: #FFF;
}

#chat-container {
    display: flex;
    height: 100vh;
}

#rooms-list {
    width: 250px;
    background-color: #23272A; /* slightly darker */
    overflow-y: auto;
}

.room-item {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #2C2F33;
    color: #BBB;
}
.room-item:hover {
    background-color: #2C2F33;
    color: #FFF;
}

#chat-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#chat-log {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-message {
    margin-bottom: 10px;
}

.chat-message img.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
}

.chat-message .username {
    font-weight: bold;
    color: #7289DA; /* Discord bluish color */
}

.chat-message .timestamp {
    font-size: 0.8em;
    color: #999;
    margin-left: 5px;
}

#typing-indicator {
    font-style: italic;
    color: #7289DA;
    margin-bottom: 5px;
}

#message-input-container {
    display: flex;
    padding: 10px;
    background-color: #23272A;
}

#chat-message-input {
    flex: 1;
    background-color: #2C2F33;
    border: none;
    padding: 10px;
    color: #FFF;
    border-radius: 5px;
    margin-right: 5px;
}

#chat-message-input:focus {
    outline: none;
}

#chat-message-send {
    background-color: #7289DA;
    border: none;
    padding: 10px 16px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

#chat-message-send:hover {
    background-color: #677BC4;
}
