{% extends "uoftsocial/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            <div id="div_id_username" class="form-group">
                <label for="id_username" class="requiredField">
                Username<span class="asteriskField">*</span></label>
                <input type="text" name="username" maxlength="150" autofocus="" class="textinput form-control {{ form.username.errors|yesno:'is-invalid,' }}" required="" id="id_username">
                {% for error in form.username.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
                <small id="hint_id_username" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
            </div>
            <div id="div_id_email" class="form-group">
                <label for="id_email" class="requiredField">
                Email<span class="asteriskField">*</span></label>
                <input type="email" name="email" maxlength="320" class="emailinput form-control {{ form.email.errors|yesno:'is-invalid,' }}" required="" id="id_email">
                {% for error in form.email.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div id="div_id_password1" class="form-group">
                <label for="id_password1" class="requiredField">
                Password<span class="asteriskField">*</span></label>
                <input type="password" name="password1" autocomplete="new-password" class="passwordinput form-control {{ form.password1.errors|yesno:'is-invalid,' }}" required="" id="id_password1">
                <small id="hint_id_password1" class="form-text text-muted">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </small>
                {% for error in form.password1.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div id="div_id_password2" class="form-group">
                <label for="id_password2" class="requiredField">
                Password confirmation<span class="asteriskField">*</span></label>
                <input type="password" name="password2" autocomplete="new-password" class="passwordinput form-control {{ form.password2.errors|yesno:'is-invalid,' }}" required="" id="id_password2">
                {% for error in form.password2.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>

{% endblock content %}
